
<div style="margin-top:15px;">
  <div style="margin-left:55px;"><%= image_tag("machinelogo2.jpg", :alt => "camp",:class=>"logo") %></div>
  <div class="headerline"></div>
</div>

<%= form_for(resource, :as => resource_name ,:url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div style="margin-left:6%;margin-top:10px;">
    <a href="/users/auth/facebook">
      <%= image_tag("fb_login_icon.gif",:class=>"fblogin") %>
    </a>
    <a href="/users/auth/twitter">
      <%= image_tag("twitter_login.png",:class=>"fblogin") %>
    </a>
  </div>

  <div class="registration">
<h2 >Sign up</h2>
<table> 
  <tr><td><label>First name</label></td>
  <td><%= f.text_field :firstname,:class=>"round" %></td></tr>

<tr><td><label>Last name</label></td>
  <td><%= f.text_field :lastname,:class=>"round" %></td></tr>

<% if @user.email_required? %>  
  <tr><td><label>Email</label></td>
  <td><%= f.text_field :email,:class=>"round" %></td></tr>
<% end %>

<% if @user.password_required? %>  
   <tr><td><%= f.label :password %></td>
  <td><%= f.password_field :password,:class=>"round" %></td></tr>

   <tr><td><%= f.label :password_confirmation %></td>
  <td><%= f.password_field :password_confirmation ,:class=>"round"%></td></tr>
<% end %>


</table>
  <p><%= f.submit "Sign up",:class=>"sign_up_button" %></p>
<% end %>
<%= render :partial => "devise/shared/links" %>

</div>
<div style="margin-top:40%;"><%=render 'regfooter'%></div>


