<div style="margin-left:140px;">
<%=form_for :users do |f|%>
<fieldset>
<legend>Basic details</legend>
<%= f.label :school %><span style="color:red;margin-right:2px;">*</span>
  <%= select_tag(:school, options_for_select([['Choose your school',1 ],['Sierra Community college',2],['Sacramento state University',2]]),:class=>"round") %><br/>
 <label>Major</label>
  <%= select_tag(:major, options_for_select([['undeclared',1 ],['Computer Science',2]]),:class=>"round") %><br/>
<%= f.label :year %>
  <%= select_tag(:year, options_for_select([['Freshman',1 ],['Sophomore',2],['junior',3],['Senior',4]]),:class=>"round") %><br/>
<%= f.label :HighSchool %><span style="color:red;margin-right:2px;">*</span>
 <%= f.text_field :highschool,:size=>"45",:class=>"round" %><br/>
</fieldset>


<%=fields_for :books do |b|%>
<fieldset>
<legend>Add Books</legend>
<label>Title:</label><%= b.text_field :title,:size=>"45",:class=>"round" %><br/>
<label>Author:</label><%= b.text_field :author,:size=>"45",:class=>"round"  %><br/>
<label>Edition:</label><%= b.text_field :edition,:size=>"45",:class=>"round"  %><br/>
</fieldset>
<%end%>


<%=fields_for :courses do |c|%>
<fieldset>
<legend>Your current classes</legend>
<label>class:</label><%= c.text_field :subject,:size=>"45",:class=>"round" %><br/>
<label>class:</label><%= c.text_field :subject,:size=>"45",:class=>"round"  %><br/>
<label>class:</label><%= c.text_field :subject,:size=>"45",:class=>"round"  %><br/>
<%end%>
</fieldset>

<%=fields_for :strengths do |s|%>
<fieldset>
<legend>subjects you are strong in</legend>
<label>Subject:</label></td> <td><%= s.text_field :subject,:size=>"45",:class=>"round" %><br/>
<label>Topic:</label></td> <td><%= s.text_field :topic,:size=>"45",:class=>"round"  %><br/>
<label>Details:</label></td><td><%= s.text_area :details,:rows=>"3",:class=>"round"  %><br/>
</fieldset>
<%end%>

<%=fields_for :weakenesses do |w|%>
<fieldset>
<legend>Subjects you are weak in</legend>
<label>Subject:</label><%= w.text_field :subject,:size=>"45",:class=>"round" %><br/>
<label>Topic:</label><%= w.text_field :topic,:size=>"45",:class=>"round"  %><br/>
<label>Details:</label><%= w.text_area :details,:rows=>"3",:class=>"round" %><br/>
</fieldset>
<%end%>

<%=fields_for :class_takens do |c|%>
<fieldset>
<legend>Classes taken in the past</legend>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round" %><br/>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
<%end%>
</fieldset>

<%end%>

  </div>
