<div style="margin-left:140px;">
 <div id="progress"></div><label id="amount">0%</label> <br/>
<div class="form-panel" id="user-form">
<%=form_for :users do |f|%>
<fieldset>
<legend>Basic details</legend>
<%= f.label :school %><span style="color:red;margin-right:2px;">*</span>
 <%= f.text_field :school,:size=>"45",:class=>"round",:id=>"school" %><br/>
 <label>Major</label>
  <%= select_tag(:major, options_for_select([['undeclared',1 ],['Computer Science',2]]),:class=>"round") %><br/>
<%= f.label :year %>
  <%= select_tag(:year, options_for_select([['Freshman',1 ],['Sophomore',2],['junior',3],['Senior',4]]),:class=>"round") %><br/>
<%= f.label :HighSchool %><span style="color:red;margin-right:2px;">*</span>
 <%= f.text_field :highschool,:size=>"45",:class=>"round" %><br/>
</fieldset>
<p><%= button_to "save and continue",{:class=>"savebutton"} %></p>
<%end%>

</div>

<div class="form-panel ui-helper-hidden" >
<%=form_for  :books do |b|%>
<fieldset>
<legend>Add Books</legend>
<label>Title:</label><%= b.text_field :title,:size=>"45",:class=>"round",:id=>"p_scnt" %><br/>
<a href="#" id="addScnt">Add field</a>
<div id="p_scents"></div>

</fieldset>
<p><%=f.submit  "save and continue",{:class=>"savebutton"} %></p>
<%end%>
</div>

<div class="form-panel ui-helper-hidden" >
<%=form_for :courses,:class=>"form-panel ui-helper-hidden" do |c|%>
<fieldset>
<legend>Your current classes</legend>
<label>class:</label><%= c.text_field :subject,:size=>"45",:class=>"round" %><br/>
<a href="#" id="addcf">Add field</a>
<div id="add-class-field"></div>
</fieldset>
<p><%= f.submit  "save and continue",{:class=>"savebutton"} %></p>
<%end%>

</div>

<div class="form-panel ui-helper-hidden" >
<%=form_for :strengths,:class=>" ui-helper-hidden" do |s|%>
<fieldset>
<legend>subjects you are strong in</legend>
<label>Subject:</label></td> <td><%= s.text_field :subject,:size=>"45",:class=>"round" %><br/>
<label>Topic:</label></td> <td><%= s.text_field :topic,:size=>"45",:class=>"round"  %><br/>
<label>Details:</label></td><td><%= s.text_area :details,:rows=>"3",:class=>"round"  %><br/>
</fieldset>
<p><%= f.submit  "save and continue",{:class=>"savebutton"} %></p>
<%end%>
</div>

<div class="form-panel ui-helper-hidden" >
<%=form_for :weakenesses,:class=>" ui-helper-hidden" do |w|%>
<fieldset>
<legend>Subjects you are weak in</legend>
<label>Subject:</label><%= w.text_field :subject,:size=>"45",:class=>"round" %><br/>
<label>Topic:</label><%= w.text_field :topic,:size=>"45",:class=>"round"  %><br/>
<label>Details:</label><%= w.text_area :details,:rows=>"3",:class=>"round" %><br/>
</fieldset>
<p><%= f.submit  "save and continue",{:class=>"savebutton"} %></p>
<%end%>
</div>

<div class="form-panel ui-helper-hidden" id="taken-classes">
<%=form_for :class_takens,:class=>" ui-helper-hidden" do |c|%>
<fieldset>
<legend>Classes taken in the past</legend>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round" %><br/>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
<label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
</fieldset>
<p><%= f.submit  "save and continue",{:class=>"savebutton"} %></p>
<%end%>

</div>


  </div>
