<div style="margin-left:140px;">
  <div id="progress"></div>
  <label id="amount">0%</label>
  <br/>

  <div class="form-panel" id="user-form">
    <fieldset>
      <legend>Basic details</legend>
      <%=form_for current_user, :url => '/users' do |f|%>
        <%= f.hidden_field :school_id, :id => 'school_id' %>
        <%= f.label :school_name %><span style="color:red;margin-right:2px;">*</span>
        <%= f.text_field :school_name,:size=>"45",:class=>"round",:id=>"school_name" %>
        <%= f.submit "save and continue",{:class=>"savebutton" }%>
      <%end%>
    </fieldset>
  </div>

  <fieldset class="form-panel ui-helper-hidden">
    <legend>Add Books</legend>
    <%=form_for :books do |b|%>
    <label>Title:</label><%= b.text_field :title,:size=>"45",:class=>"round",:id=>"p_scnt" %><br/>
    <a href="#" id="addScnt">Add field</a>
    <div id="p_scents"></div>

    <p><%= b.submit "save and continue",{:class=>"savebutton"} %></p>
    <%end%>
  </fieldset>

  <fieldset class="form-panel ui-helper-hidden" >
    <legend>Your current classes</legend>
    <%=form_for :courses,:class=>"form-panel ui-helper-hidden" do |c|%>
      <label>class:</label><%= c.text_field :subject,:size=>"45",:class=>"round" %><br/>
      <a href="#" id="addcf">Add field</a>
      <div id="add-class-field"></div>
      <p><%= c.submit "save and continue",{:class=>"savebutton"} %> </p>
    <%end%>
  </fieldset>

  <fieldset class="form-panel ui-helper-hidden">
    <legend>subjects you are strong in</legend>
    <%=form_for :strengths,:class=>" ui-helper-hidden" do |s|%>
      <label>Subject:</label></td> <td><%= s.text_field :subject,:size=>"45",:class=>"round" %><br/>
      <label>Topic:</label></td> <td><%= s.text_field :topic,:size=>"45",:class=>"round"  %><br/>
      <label>Details:</label></td><td><%= s.text_area :details,:rows=>"3",:class=>"round"  %><br/>
      <p><%= s.submit "save and continue",{:class=>"savebutton"} %></p>
    <%end%>
  </fieldset>

  <fieldset class="form-panel ui-helper-hidden" >
    <legend>Subjects you are weak in</legend>
    <%=form_for :weakenesses,:class=>" ui-helper-hidden" do |w|%>
      <label>Subject:</label><%= w.text_field :subject,:size=>"45",:class=>"round" %><br/>
      <label>Topic:</label><%= w.text_field :topic,:size=>"45",:class=>"round"  %><br/>
      <label>Details:</label><%= w.text_area :details,:rows=>"3",:class=>"round" %><br/>
      <p><%= w.submit"save and continue",{:class=>"savebutton"} %></p>
    <%end%>
  </fieldset>

  <fieldset class="form-panel ui-helper-hidden" id="taken-classes">
    <legend>Classes taken in the past</legend>
    <%= form_for :class_takens, :url => '/users/registered', :class=>" ui-helper-hidden" do |c|%>
      <label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round" %><br/>
      <label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
      <label>class:</label><%= c.text_field :class_name,:size=>"45",:class=>"round"  %><br/>
      <p><%= c.submit"save and continue",{:class=>"finalbutton"} %></p>
    <%end%>
  </fieldset>
</div>
