<%=render 'header'%>	
<div id="left">

 <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>

<div class="line_separator"></div>

<div class="side-box">
<h4>Messages</h4>
<span id="inbox"><%=link_to image_tag("e_mail.png")+'Private message',{:controller=>"books",:action=>"new"},{:class=>"sidebox-content"}%></span>
<div class="line_separator"></div>
<span id="request"><%=link_to image_tag("message.png")+'Requests & Responses',{:controller=>"books",:action=>"new"},{:class=>"sidebox-content"}%></span>
</div>

    <div class="side-box">
      <h4>My books</h4>
      <%= render 'books/index' %>
    </div>

    <div class="side-box">
      <h4>My School buddies</h4>
    </div>

  </div>
</div>

  

<div id="center">
  <p id="suggest" class="ui-helper-hidden"><b id="suggest">Are you sure about this?</b></p>

  <div class="container" id="communication">
    <div style="position:relative;">
      <%= select_tag(:school, options_for_select([
             ['Pick your status',1 ],
             ['I need a study guide',2],
             ['I am looking for a textbook',3],
             ['I need a study buddy',4],
             ['I Want to form a study group',5],
             ['I want to borrow a textbook',6],
             ['Can anybody upload notes for me',7]
      ]),:id=>"status") %>

      <%=link_to 'I need help',{:controller=>"books",:action=>"new"},{:class=>"needhelp"}%><br/>

     <%=form_for (Post.new) do |f|%>
        <%=f.text_area :content,:id=>"general-field",:class=>" round",:rows=>"1"%>
        <%=f.submit 'post',:class=>"postbutton"%>
      <%end%>

      <table id="posts-table">
        <tbody></tbody>
      </table>
    </div>

    <table id="notifications-table">
      <tbody>
        <tr>
          <div class="notification" id="inbox-partial"><%=render 'request'%></div>
        </tr>
      </tbody>
    </table>
  </div>
</div>