<div style="margin-top:15px;">
<div style="margin-left:55px;"><%= image_tag("machinelogo2.jpg", :alt => "camp",:class=>"logo") %></div>
<div class="headerline"></div>
</div>

<h2 style="margin-left:145px;">Welcome, <%=current_user.firstname%></h2>
<h2 class="edit-info">Edit info</h2>

<%=render 'editform'%>


<div class="welcome-footerline"></div>
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>
<ul class="footer">
<li> <%= link_to "About", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Feedback", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Terms", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> &nbsp;</li>
<li> <%= link_to "Help", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> </li>
</ul>
</div>
