<section id="book-app">
  
 <h2 class="book-space"> <a class="listbook" href="#" title="add a book to your profile" >List - Sell your books</a> </h2>

  <div id="new-book-form" class="search-book-form ui-helper-hidden">
    <%= form_for Book.new do |f| %>
      <%= f.search_field :title, :class=>"addbook-field", :placeholder=>"Search for your book to list"%>
      <%= f.submit "Search", {:class=>"addbookbutton"} %>
    <%end%>
  </div>

 <h2 class="book-space"><a class="reservebook"  href="#" title="Reserve a book from your peers" >Reserve - Get books</a> </h2>

  <div id="reserve-book-form" class="search-book-form ui-helper-hidden">
    <%= form_for Book.new do |f| %>
      <%= f.search_field :title, :class=>"addbook-field",:placeholder=>"Search for a book to reserve"%>
      <%= f.submit "Search", {:class=>"addbookbutton"} %>
    <%end%>
  </div>

  <hr/>

  <h2 style="text-align:center;">My Books</h2>

  <table id="books-table">
    <tbody></tbody>
  </table>

 
 <!-- <span class="bookfound">Books found <span class="loading"><%=image_tag('loading.gif')%></span></span>-->
</section>
