<h1>Book#new</h1>

<%= form_for(@book) do |f| %>
<table>	
<tr><td> <label>Title:</label></td> <td><%= f.text_field :title %></td><tr>
<tr><td><label>Author:</label></td> <td><%= f.text_field :author %></td> </tr>
<tr><td><label>Edition:</label></td><td><%= f.text_field :edition %><td/></tr>
</table>
<p><%= f.submit "Add"%> 
<%end%>
