 <div class="header-wrapper">
 <span class="logout"><%= link_to "Log out", destroy_user_session_path %></span><br/>
<%= image_tag("Campus_Machine.gif", :alt => "camp",:class=>"logo") %>&nbsp;

    <span class="n-wrapper">  
    <ul class="n-menu" rel="sam1">  
    <li class="first"><%=link_to 'Home', home_url%></li>  
    <li ><%=link_to 'Profile', profile_home_url %></li>  
    <li class="last"><%=link_to 'Account',:controller=>"setting",:action=>"show"%></li>  
     
   </ul>  

   </span>  
<input type="text" class="searchfield" id="search" size="50"/>
<button type="button" class="searchbutton">Search</button>
</div>
<div class="headerline"></div>
<div style="clear:both;"></div>
