<div id="left">

 <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>

<div class="line_separator"></div>
<div class="left-container">
<div class="side-box">
<h4>Messages</h4>
<%=link_to image_tag("e_mail.png")+'Inbox',{:controller=>"books",:action=>"new"},{:class=>"sidebox-content"}%>
<div class="line_separator"></div>
<%=link_to image_tag("message.png")+'Requests',{:controller=>"books",:action=>"new"},{:class=>"sidebox-content"}%>
</div>

<div class="side-box">
<h4>My books</h4>
<ul class="listbook" >
 <% @books.each do |b|%>
 <li><span class="booktitle"> <%= b.title   %> </span>by <%= b.author %> <%=b.edition %>&nbsp;edition</li>
<div class="line_separator"></div>
 <%end%>
 </ul>
<p><%= button_to "Add a Book",{:controller=>"books",:action=>"new"},{:class=>"addbookbutton"} %></p>
</div>

<div class="side-box">
<h4>My School buddies</h4>
</div>

</div>

<div id="right">
<div class="right-side-box">
<h4>Students you may connect with</h4>
</div>

<div class="right-side-box">
<h4>Students you went to highschool with</h4>
</div>
</div>

<div id="center">
<div class="container">
<div class="list-items">
<%=link_to 'Pick your status',{:controller=>"books",:action=>"new"},{:class=>"needhelp"}%>
<%=link_to 'I need help',{:controller=>"books",:action=>"new"},{:class=>"needhelp"}%><br/>


</div>
<%=render 'generalfield'%>
<div id="post"></div>
</div>

</div>
<%=render 'homefooter'%>


