<%=render 'header'%>	
<div id="left">
 <span class="photo"><%=image_tag current_user.avatar_url %></span>
  <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>
 <span class="edit"> <%=link_to 'Edit Profile', edit_home_url %></span>

  <section class="side-box">
    <h4>Posts</h4>
    <%=link_to image_tag("message.png")+'All posts', '#', {id: 'all-posts', class:"sidebox-content"}%>
    <%=link_to image_tag("mypost.png")+'My posts','#',{id: 'my-posts', class: "sidebox-content"}%>
  </section>
 

  <div class="side-box">
    <%= render 'books/index' %>
  </div>
 
  <div class="side-box">
    <h4>Messages</h4>
    
    <span id="inbox"><%=link_to image_tag("e_mail.png")+'Private message',messages_requests_url,{:class=>"sidebox-content"}%></span><span class="alpha" title="This feature is under development">Alpha</span>
    
    <div class="line_separator"></div>
    <span id="request"><%=link_to image_tag("alert.png")+'Book Requests',books_requests_url,{:class=>"sidebox-content"}%></span>
  </div>
   
   <div class="side-box">
    <h4>My Lectures <span class="alpha" title="This feature is under development">Alpha</span></h4>
    <span style="bakground:grey;"><%=link_to 'Find lecture',find_lecture_lecture_url,:class=>"find"%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    
    <div class="line_separator"></div>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#1',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>

    <div class="line_separator"></div>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'chem1B-lecture#1',messages_requests_url,{:class=>"sidebox-content"}%></span><br>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'chem1B-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
  </div>
     

   <div class="side-box">
      <h4>My Studdy buddies <span class="alpha" title="This feature is under development">Alpha</span></h4>
    

 <div ><%=link_to image_tag("group.png")+'francis group',mygroup_group_url,{:class=>"sidebox-content"}%></div>  
  <div> <%=link_to "Start a group",{:controller=>"books",:action=>"new"},:class=>"group"%> </div>    
<div class="ui-helper-hidden group-form">
group name <input type="text" >

<br/>group description<input type="text" >
<br/>max No:<input type="text" ><br/> 
 <input type="radio" id="general" >General <input type="radio" id="study" >Study Group<br/>
 <div class="nested-group ui-helper-hidden">
 <input type="checkbox" />Math41 <input type="checkbox" />Psych101 <input type="checkbox" />Chem1A <br/>
 <label>professor</label><input type="text"/><br/>
 </div>
  <input type="radio" id="remote" >Remote <input type="radio" id="live" >Live meet up <br/>
  <div class="calender ui-helper-hidden">
  Day<input id="datepicker" type="text" >
  </div>
<button id="create">create</button></div>

<div class="ui-helper-hidden classmates">title="invite your classmates" list of classmates</div>

    </div>

  </div>
</div>

  
  <div class="container centered" id="communication">
   

    <fieldset class="field-wrapper">
      <%= form_for (Post.new) do |f| %>
        <div id="course-check-box-container" style="display:none;">
          <%= f.collection_check_boxes(:course_id, current_user.courses, :id,:name, :class=>"check-course") %>
        </div>
        <script>
          var cont = $('#course-check-box-container')
          cont.find(':checkbox').hide()
          cont.show()
        </script>
        <span id="status"> <%= f.select(:post_type, options_for_select([
                 ['Post type',1 ],
                 ['Question',2],
                 ['Material upload',3],
                 ['Textbook',4],
                 ['Roommate',5],
                 ['Homework',6],
                 ['Addcode',7],
                 ['Study buddy',8],
          ])) %></span>
        <%=f.text_area :content,:id=>"general-field",:class=>" round",:rows=>"1"%>
        <%=f.submit 'post',:class=>"postbutton"%>
      <%end%>
   </fieldset>
   
    <table id="posts-table" style="table-layout:fixed;width:500px;">
      <tbody></tbody>
    </table>
    <table id="searched-books-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
    <table id="requests-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
<!-- <div class="post-background">sdhdsh<br/>fhufhfuh<br/>iireii
<div> <%= button_to "I'm down",  {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I have it", {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I can help",{:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %></div>

  <div class="homecontainerline"></div>
 
 </div>-->

   
  </div>
    

   
  </div>
<!--
<div id="right">
<div class="right-side-box">
<h4>Open groups</h4>
<h5> Francis group</h5>
If you're looking for a place to learn and/or share knowledge about Androiddevelopment, then this is the place for you. We are a group of both  students and hobbyists alike that share experiences on Android development.<br/>
<b>type</b> studygroup-live meetup <br/><b>Members</b> <br/><button>ask to join</button>

</div>

</div>-->

<div class="footerline"></div>
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>
<ul class="footer">
<li> <%= link_to "About", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Feedback", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Terms", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> &nbsp;</li>
<li> <%= link_to "Help", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> </li>
</ul>
<!--TODO:delete current classes,separate them with taken,when somebody change current classes old posts for that particular class are destroyed,
when you send a post the picture dontappear right away until you refresh the page-->
