
  
  <div class="container centered" id="communication">
    <div id="communication-content" class="ui-helper-hidden">
    </div>
   

    <div id="posts-container">
      <fieldset class="field-wrapper">
        <%= form_for (Post.new) do |f| %>
          <div id="course-check-box-container" style="display:none;">
            <%= f.collection_check_boxes(:course_id, current_user.courses, :id,:name, :class=>"check-course") %>
          </div>
          <script>
            var cont = $('#course-check-box-container')
            cont.find(':checkbox').hide()
            cont.show()
          </script>
          <span id="status"> <%= f.select(:post_type, options_for_select([
                   ['Post type:',1 ],
                   ['Question:',2],
                   ['Material upload:',3],
                   ['Textbook:',4],
                   ['Roommate:',5],
                   ['Homework:',6],
                   ['Financial aid:',7],
                   ['Addcode:',8],
                   ['Study buddy:',9],
            ])) %></span>
          <%=f.text_area :content,:id=>"general-field",:class=>" round",:rows=>"1"%>
          <%=f.submit 'post',:class=>"postbutton"%>
        <%end%>
     </fieldset>
     
      <table id="posts-table" style="table-layout:fixed;width:500px;">
        <tbody></tbody>
      </table>
    </div>
    <table id="searched-books-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
    <table id="requests-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
<!-- <div class="post-background">sdhdsh<br/>fhufhfuh<br/>iireii
<div> <%= button_to "I'm down",  {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I have it", {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I can help",{:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %></div>

  <div class="homecontainerline"></div>
 
 </div>-->

   
  </div>
    

   
  </div>
<!--
<div id="right">
<div class="right-side-box">
<h4>Open groups</h4>
<h5> Francis group</h5>
If you're looking for a place to learn and/or share knowledge about Androiddevelopment, then this is the place for you. We are a group of both  students and hobbyists alike that share experiences on Android development.<br/>
<b>type</b> studygroup-live meetup <br/><b>Members</b> <br/><button>ask to join</button>

</div>

</div>-->

<div class="footerline"></div>
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>
<ul class="footer">
<li> <%= link_to "About", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Feedback", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Terms", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> &nbsp;</li>
<li> <%= link_to "Help", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> </li>
</ul>
<!--TODO:delete current classes,separate them with taken,when somebody change current classes old posts for that particular class are destroyed,
when you send a post the picture dontappear right away until you refresh the page-->
