<%=render 'header'%>	
<div id="left">
 <span class="photo"><%=image_tag current_user.photo_url.to_s%></span>
  <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>

  <section class="side-box">
    <h2>
      <%=link_to image_tag("message.png")+'All posts', home_path, {:class=>"sidebox-content"}%>
      <%=link_to image_tag("message.png")+'My posts','#',{id: 'my-posts', class: "sidebox-content"}%>
   </h2>
  </section>
 

  <div class="side-box">
    <%= render 'books/index' %>
  </div>
 
  <div class="side-box">
    <h4>Messages</h4>
    <!--
    <span id="inbox"><%=link_to image_tag("e_mail.png")+'Private message',messages_requests_url,{:class=>"sidebox-content"}%></span>
    -->
    <div class="line_separator"></div>
    <span id="request"><%=link_to image_tag("message.png")+'Book Requests',books_requests_url,{:class=>"sidebox-content"}%></span>
  </div>
     

<!--    <div class="side-box">
      <h4>My Studdy buddies</h4>
      <%=link_to "Start a group",{:controller=>"books",:action=>"new"},:class=>"group"%> 
<div class="ui-helper-hidden group-form">group name <br/>group description<br/>max No:<br/> <span id="create">create</span></div>

<div class="ui-helper-hidden classmates">title="invite your classmates" list of classmates</div>

    </div>
-->
  </div>
</div>

  
<div id="center">
  <p id="suggest" class="ui-helper-hidden"><b id="suggest">Are you sure about this?</b></p>
 
  <div class="container" id="communication">
    <div class="ui-helper-hidden" id="inbox-partial"><%=render 'request'%></div>

    <%= form_for (Post.new) do |f| %>
    <%= f.collection_check_boxes(:course_id, current_user.courses, :id, :name,:class=>"check-course") %>
    <br/> <span id="status"> <%= f.select(:post_type, options_for_select([
               ['Make a Post',1 ],
               ['Question',2],
               ['I need a study buddy',3],
               ['I want to borrow a textbook',4],
               ['Can anybody give me class materials?',5],
               ['I need help',6],
               ['I need a roommate',7],
        ])) %></span>
      <%=f.text_area :content,:id=>"general-field",:class=>" round",:rows=>"1"%>
      <%=f.submit 'post',:class=>"postbutton"%>
    <%end%>

    <table id="posts-table">
      <tbody></tbody>
    </table>
    <table id="searched-books-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
    <table id="requests-table" class="ui-helper-hidden">
      <tbody></tbody>
    </table>
<!-- <div class="post-background">sdhdsh<br/>fhufhfuh<br/>iireii
<div> <%= button_to "I'm down",  {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I have it", {:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %>
<%= button_to "I can help",{:controller=>"books",:action=>"new"},{:class=>"responsebutton ui-helper-hidden"} %></div>

  <div class="homecontainerline"></div>
 
 </div>-->

   
  </div>
    

   
  </div>
</div>

<div class="footerline"></div>
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>
<ul class="footer">
<li> <%= link_to "About", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Feedback", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%>&nbsp; </li>
<li> <%= link_to "Terms", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> &nbsp;</li>
<li> <%= link_to "Help", {:controller=>"books",:action=>"new"},{:class=>"classlink"}%> </li>
</ul>
