<div style="margin-left:55px;"><%= image_tag("machinelogo2.jpg", :alt => "camp",:class=>"landpagelogo") %></div>
<div class="headerline"></div>

<div class="land-background">

  <%= form_for(User.new, :url => '/landing') do |f| %>
<div class="landing-text">Your Campus Social Network<br/><div class="landheadline"></div>
Makes learning & campus life easier and social!<br/>
  COMING SOON!<br/>
  <span style="font-size:14px;color:white;">
    Leave us your email and we will notify you as soon as we launch!
  </span>
</div>
  <table><tr>
 <td> <%= f.email_field :email,:class=>"roundlandfield",:placeholder => 'Enter your Email'  %></td>
  <td><%= f.submit "Register", :class=>"landpage-sign-button" %></td>
</tr></table>
  <span style="font-size:14px;color:white;">
    We hater spammers- we promise to just send you a launch notification and then delete your e-mail address from our database.
  </span>
<%end%>
</div>

<div class="arrow">
<%=image_tag("forward2.png")%>Reserve textbooks from your fellow student in your campus<br/>
<%=image_tag("forward2.png")%> Let your classmates know what you are strugling with and get some help quick<br/>
<%=image_tag("forward2.png")%>Borrow studying materials from seniors<br/>
<%=image_tag("forward2.png")%>Form a study group!<br/>
</div>

<div style="margin-left:85%;%">
<%=link_to image_tag("fbook.png"),"https://www.facebook.com/pages/campusmachinecom-COMING-THIS-FALL/112152688879535?ref=hnav"%>
<%=link_to image_tag("twitter.png"),"http://twitter.com/#!/campusmachine"%>
</div>

<div class="footerline"></div>
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>

