<div class="root-header">

<span style="margin-left:35px;"><%= image_tag("Campus_Machine-01.png", :alt => "camp",:class=>"logo-png") %></span>
<span style="float:right;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table>
<tr>
 <td> <%= f.label :email%></td>  <td> <%= f.label :password %></td>
</tr> 
<tr><td> <%= f.email_field :email ,:class=>"sign-field"  %></td>

    <td> <%= f.password_field :password ,:class=>"sign-field"%></td>
    <td> <%= f.submit "Sign in", :class=>"sign_in_button" %></td>
 </tr>  
 <tr> 
     <td> <% if devise_mapping.rememberable? -%>
    <span><%= f.check_box :remember_me %> <%= f.label :remember_me %></span>
    <% end -%>
 
    <% end %></td>
    <td><%= render :partial => "devise/shared/links" %> </td>
</tr>
</table>
</span>
</div>
<div class="clear"></div>
<span class="login-bold-text">Makes learning & campus life easier and social!</span><br/>
<div class="diagrams">

<%=image_tag("copy.jpg",:class=>"network") %>
<%=image_tag("copy.jpg",:class=>"network") %><br/>

<%=link_to image_tag("fb_login_icon.gif",:class=>"fblogin") %>

<%=link_to image_tag("twitter_login.png",:class=>"fblogin") %>
</div>

<div class="sign-background">

<div class="sales-pitch">
<span class="inline_table"><%=image_tag("1315363317_message.png")%></span>
<span class="inline_table"> <h3>Get connected</h3> Ask your  classmates questions, <br/> work together on Homework<br/> assignments,organize <br/>and get invited in class study group </span>

<span class="inline_table"><%=image_tag("1315363843_bookcase.png")%></span>
<span class="inline_table"> <h3>Exchange books</h3>Reserve textbooks from your peers <br/> prior to class semester,<br/>sell your textbooks, access and share <br/>other studying materials </span>

<span class="inline_table"><%=image_tag("1315364431_audio-file.png")%></span><span class="inline_table"><h3>Lectures</h3> Access to recorded enrolled class lectures<br/>  shared by your classmates and instructors.</span>

<span class="inline_table"><%=image_tag("1315365276_amor.png ")%></span><span class="inline_table"><h3>Succeed!</h3> Get to know your schoolmates ,<br/>co-operate with your classmates ,<br/>in campus and succeed.</span>
</div>

</div>



<!--
<div style="position:absolute;left:15%;top:30%;">

</div>-->
<div class="sign-footer">
<span style="color:#808080;font-size:11px;margin-left:18%;">&copy; 2011 campusmachine.com</span>
<div>
