<div style="margin-top:15px;">
<div style="margin-left:55px;"><%= image_tag("machinelogo2.jpg", :alt => "camp",:class=>"logo") %></div>
<div class="headerline"></div>
</div>
<div class="land-background">
<div style="margin-left:55px;">
<h2>Log in with facebook:</h2>
<h2>Log in with your email:</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email%><br />
  <%= f.email_field :email,:class=>"round"  %></p>
  <p><%= f.label :password %><br />
  <%= f.password_field :password , :class=>"round"  %></p>
  <% if devise_mapping.rememberable? -%>
    <span><%= f.check_box :remember_me %> <%= f.label :remember_me %></span>
  <% end -%>
  <p><%= f.submit "Sign in", :class=>"sign_up_button" %></p>
<% end %>
<%= render :partial => "devise/shared/links" %>

</div>

<div style="position:absolute;left:40%;top:15%;">
<span class="landing-text">The Social Academic Network<br/><div class="landheadline"></div>
Makes learning & campus life easier and social!<br/>
</span>
</div>


