

<div id="center">
<span class="group-title">Psych101-Prof Jason woods-francis group </span>
<div style="margin-top:5px;	
	margin-bottom:3px;
	width:440px;
    border-top:solid #e6e6e6 1px;"></div>

    <span class="inline_table"><%=image_tag('d.jpg')%> </span>  
 
<span class="inline_table">For example, I want to make custom field with car models list. Of course, it would be too weird to cram the entire list in one combobox. The standard way to avoid this is a two combobox with nested lists, in first combo, user choose car brand, second combo loads in background list of models by this brand. Is it possible to create something similar in Redmine for the non Ruby programmer?</span><br/>
 <div style="clear:both;font-weight:bold;font-size:14px;margin-left:40px;">Replies</div>   
<div style="background:#EAEFF0;margin-left:40px;">
<span class="inline_table"><%=image_tag('p.jpg')%> </span> 
  You asked for a tool or application answer, but what you really need is a a<br/> process answer. The underlying theme here is that you should be versioning <br/>your database DDL (and DML, when needed) and providing change scripts to be <br/>able to update any version of your database to a higher version.
    </div>
    <div style="background:#EAEFF0;margin-left:40px;margin-top:3px;">
    <span class="inline_table"><%=image_tag('lad.jpg')%></span>
    GMAIL in chrome has a favicon that shows an unread message count. Does anyone know how they do that? Is that them changing images? Or is there a property that allows you to set the number near the favicon
    </div>
     <div style="background:#EAEFF0;margin-left:40px;margin-top:3px;">
     <span class="inline_table"><%=image_tag('kamy.jpg')%></span>
    GMAIL in chrome has a favicon that shows an unread message count. Does anyone know how they do that? Is that them changing images? Or is there a property that allows you to set the number near the favicon
    </div>
    <div style="margin-top:5px;	
	margin-bottom:3px;
	width:440px;
    border-top:solid #e6e6e6 1px;"></div>

    <span class="inline_table"><%=image_tag('lad.jpg')%> </span>
        
<span class="inline_table">For example, I want to make custom field with car models list. Of course, it would be too weird to cram the entire list in one combobox. The standard way to avoid this is a two combobox with nested lists, in first combo, user choose car brand, second combo loads in background list of models by this brand. Is it possible to create something similar in Redmine for the non Ruby programmer?</span><br/>
<div style="clear:both;font-weight:bold;font-size:14px;margin-left:40px;">Replies</div>
<div style="background:#EAEFF0;clear:both;margin-left:40px;">
<span class="inline_table"><%=image_tag('p.jpg')%></span>
  You asked for a tool or application answer, but what you really need is a a<br/> process answer. The underlying theme here is that you should be versioning <br/>your database DDL (and DML, when needed) and providing change scripts to be <br/>able to update any version of your database to a higher version.
</div>
  <div style="background:#EAEFF0;margin-left:40px;margin-top:3px;">
  <span class="inline_table"><%=image_tag('d.jpg')%></span>
    GMAIL in chrome has a favicon that shows an unread message count. Does anyone know how they do that? Is that them changing images? Or is there a property that allows you to set the number near the favicon
    </div>