<%=render 'header'%>	
<div id="left">
 <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>

 <div class="side-box">
      <h4>Posts</h4>
      <%=link_to image_tag("message.png")+'All posts',{:controller=>"home",:action=>"show"},{:class=>"sidebox-content"}%>
     <div class="line_separator"></div>
     <%=link_to image_tag("message.png")+'My posts',{:controller=>"posts",:action=>"mypost"},{:class=>"sidebox-content"}%>

    </div>
 

    <div class="side-box">
      <%= render 'books/index' %>

    </div>
 
<div class="side-box">
<h4>Messages</h4>
<span id="inbox"><%=link_to image_tag("e_mail.png")+'Private message',{:controller=>"books",:action=>"new"},{:class=>"sidebox-content"}%></span>
<div class="line_separator"></div>
<span id="request"><%=link_to image_tag("message.png")+'Requests & Responses',{:controller=>"request_response",:action=>"books"},{:class=>"sidebox-content"}%></span>
</div>
     

<!--    <div class="side-box">
      <h4>My Studdy buddies</h4>
      <%=link_to "Start a group",{:controller=>"books",:action=>"new"},:class=>"group"%> 
<div class="ui-helper-hidden group-form">group name <br/>group description<br/>max No:<br/> <span id="create">create</span></div>

<div class="ui-helper-hidden classmates">title="invite your classmates" list of classmates</div>

    </div>
-->
  </div>
</div>
