<%= render 'left_section'%>

<div id="center">
<div style="float:left;padding-right:5px;">
<span style="font-size:14px;"><b>Prof Owen Thompsn</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
  </div>  

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Cliff Stewart</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof john galagher</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof criss Mathew</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Mike fuller</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Jason woods</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof cathy gregory</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Don Williams</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Amy Stewart</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof cathy gregory</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Don Williams</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Amy Stewart</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
<span style="font-size:14px;"><b>Prof Owen Thompsn</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
  </div>  

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Cliff Stewart</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof john galagher</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof criss Mathew</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

    <div style="float:left;padding-right:5px;">
<span style="font-size:14px;"><b>Prof Owen Thompsn</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
  </div>  

<div style="float:left;padding-right:5px;">
    <span style="font-size:14px;"><b>Prof Cliff Stewart</b></span><br/>
<span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#4',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#5',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#6',messages_requests_url,{:class=>"sidebox-content"}%></span><br/>
    </div>

</div>
