<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag 'application', :debug => Rails.env.development? %>
  <%= csrf_meta_tag %>

  <% yield :head %>
  <%= require_javascript *@javascript %>

  <script type="text/javascript">
    window.CURRENT_USER = <%= user_json %>
  </script>
</head>

<body>
  
  <%= yield %>
</body>
</html>
