<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag 'application', :debug => Rails.env.development? %>
  <%= csrf_meta_tag %>

  <% yield :head %>
  <%= require_javascript *@javascript %>

  <script type="text/javascript">
    window.CURRENT_USER = <%= user_json %>
  </script>
</head>

<body>

<%=render'header'%>
<div class="left">
  <span class="photo"><%=image_tag(current_user.avatar_url || 'main.png', :size => '100x100') %></span>
  <span class="full_name"><%= current_user.firstname%> &nbsp; <%=current_user.lastname %></span> <br/>
 <span class="edit"> <%=link_to 'Edit Profile', edit_home_url %></span>

  <div class="side-box">
    <h4>Class material locker</h4>
   <a href="#">studdyguide.doc</a><br/>
   <a href="#">2006math31Test.doc</a><br/>
   <a href="#">2007math31Test.rtf</a><br/>
   <a href="#">2007math31-Exam.doc</a><br/>
   <a href="#">2008math31-handout.pdf</a><br/>
   <a href="#">2006math31-solutionmanual.txt</a><br/>
   <button>upload material</upload>
  </div>
 

  <div class="side-box">
  <h4>Classmates</h4>
  <span class="mock"><%=image_tag('d.jpg')%></span><%=image_tag('spencer.jpg')%><br/>
  <%=image_tag('down.jpg')%>
  <span class="mock"> <%=image_tag('kamy.jpg')%></span><br/>
 <a href="#" >Find classmates</a>
    
  </div>
   
   <div class="side-box">
    <h4>Manage class </h4>
    <a href="#">Report student</a><br/>
   <button> Delete class</button>
   </div>

  
     



  </div>
</div>

 <%= yield %>
 <%=render'footer' %>
</body>

</html>
