<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag 'application', :debug => Rails.env.development? %>
  <%= csrf_meta_tag %>

  <% yield :head %>
  <%= require_javascript *@javascript %>

  <script type="text/javascript">
    window.CURRENT_USER = <%= user_json %>
  </script>
</head>

<body>

<%=render'header'%>
<div id="left">
 <span class="photo"><%=image_tag current_user.avatar_url %></span>
  <span class="full_name"><%= current_user.firstname %> &nbsp;<%= current_user.lastname %></span> <br/>
 <span class="edit"> <%=link_to 'Edit Profile', edit_home_url %></span>

  <div class="side-box">
    <h4>Posts</h4>
    <%=link_to image_tag("message.png")+'All posts', '#', {id: 'all-posts', class:"sidebox-content"}%>
    <%=link_to image_tag("mypost.png")+'My posts','#',{id: 'my-posts', class: "sidebox-content"}%>
  </div>
 

  <div class="side-box">
    <%= render 'books/index' %>
  </div>
 
  <div class="side-box">
    <h4>Messages</h4>
    
    <span id="inbox"><%=link_to image_tag("e_mail.png")+'Private message',messages_requests_url,{:class=>"sidebox-content"}%></span><span class="alpha" title="This feature is under development">Alpha</span>
    
    <div class="line_separator"></div>
    <span id="request"><%=link_to image_tag("alert.png")+'Book Requests',books_requests_url,{:class=>"sidebox-content"}%></span>
  </div>
   
   <div class="side-box">
    <h4>My Lectures <span class="alpha" title="This feature is under development">Alpha</span></h4>
    <span style="bakground:grey;"><%=link_to 'Find lecture',find_lecture_lecture_url,:class=>"find"%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#2',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
 
    <span ><%=link_to image_tag("1315436291_player_play.png")+'math41-lecture#3',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
    
    <div class="line_separator"></div>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#2',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>

    <span ><%=link_to image_tag("1315436291_player_play.png")+'psyc101-lecture#3',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>

    <div class="line_separator"></div>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'chem1B-lecture#1',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br>
    <span ><%=link_to image_tag("1315436291_player_play.png")+'chem1B-lecture#2',mylecture_lecture_url,{:class=>"sidebox-content"}%></span><br/>
  </div>
     

   <div class="side-box">
      <h4>My Studdy buddies <span class="alpha" title="This feature is under development">Alpha</span></h4>
    

 <div ><%=link_to image_tag("group.png")+'francis group',mygroup_group_url,{:class=>"sidebox-content"}%></div>  
  <div> <%=link_to "Start a group",{:controller=>"books",:action=>"new"},:class=>"group"%> </div>    
<div class="ui-helper-hidden group-form">
<table>
<tr>
<td><label>group name</label> </td><td><input type="text" ></td>
</tr>
<br/>
<tr><td>group description</td><td><input type="text" ></td></tr>
<br/>
<tr><td>max No:</td><td><input type="text" ></td></tr>
</table>
<br/> 
<input type="radio" id="general" >Club 
<input type="radio" id="general" >Organization 
<input type="radio" id="study">Study Group<br/>
 <div class="nested-group ui-helper-hidden">
 <input type="checkbox" />Math41 <input type="checkbox" />Psych101 <input type="checkbox" />Chem1A <br/>
 <label>professor</label><input type="text"/><br/>
 </div>
  <input type="radio" id="remote" >Remote <input type="radio" id="live" >Live meet up <br/>
  
<button id="create">create</button></div>

<div class="ui-helper-hidden classmates" title="Invite your classmates" list of classmates> <span class="mock"><%=image_tag('d.jpg')%> </span><button>invite</button><br/> 
<span><%=image_tag('spencer.jpg')%> </span> <button>invite</button><br/>
<span ><%=image_tag('down.jpg')%> </span><button >invite</button> <br/> 
<span class="mock"><%=image_tag('kamy.jpg')%> </span><button >invite</button> <br/> 
</div>

    </div>

  </div>
</div>
 <%= yield %>
</body>
</html>
